.product-list {
  width: 100%; /* Ensure the list takes the full width */
}

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between items */
}

.product-image {
  width: 100px; /* Adjust image width as needed */
  height: 100px; /* Adjust image height as needed */
  overflow: hidden;
  border-radius: 50%; /* Make the image circular */
  margin-right: 20px; /* Adjust spacing between image and details */
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  flex: 1; /* Allow the details to take remaining space */
}

.product-details h2 {
  margin-top: 0;
}

.product-details p {
  margin: 0;
}
